body{
    margin:0;
    background: radial-gradient(circle at center, #050510, #000);
    color:white;
    font-family: 'Segoe UI';
    text-align:center;
}

#scene{
    width:100%;
    height:500px;
}

#info-panel{
    margin-top:20px;
    padding:20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius:15px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

button{
    padding:10px;
    margin:10px;
    border:none;
    background:#0ff;
    color:black;
    cursor:pointer;
}